<div class="container">
    <h2>Reservation Details</h2>
    <div class="details">
      <div class="detail-info">
        <p><strong>Trip ID:</strong> {{ tripId }}</p>
        <p><strong>Initial City:</strong> {{ initialCity }}</p>
        <p><strong>Final City:</strong> {{ finalCity }}</p>
        <p><strong>Departure Date:</strong> {{ trip.departureDateTime | date: 'medium' }}</p>
        <p><strong>Base Price:</strong> {{ trip.basePrice }}</p>
        <p><strong>Available Seats:</strong> {{ trip.availableSeats }}</p>
      </div>
      <p class="cities-label"><strong>Trip Stops:</strong></p>
      <div class="city-cards">
        <mat-card *ngFor="let city of trip.cities" class="city-card">
          <mat-card-header>
            <mat-card-title [style.color]="city.name === initialCity || city.name === finalCity ? 'red' : 'inherit'">{{ city.name }}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <form (ngSubmit)="submitReservation()" class="reservation-form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
      </div>
      <div class="form-group">
        <label for="numSeats">Number of Seats:</label>
        <input type="number" class="form-control" id="numSeats" name="numSeats" [(ngModel)]="numSeats" (ngModelChange)="updatePrice($event)" required>
      </div>
        <div class="form-group">
            <label for="price">Total Price:</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)]="totalPrice" readonly>
        </div>
        <div class="form-group">
          <label for="currencies">Currency:</label>
          <select class="form-control" id="currency" name="currency" [(ngModel)]="currency" (ngModelChange)="updatePrice($event)">
            <option value="EUR" selected>EUR</option>
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
          </select>
        </div>
      <button type="submit" class="btn btn-primary">Submit Reservation</button>
    </form>
  </div>
  